extends layout

block content
	h1.
		Select a team for winner and a Player for Man of the match
	ul
		each matchinfo, i in match
				form(action='adminSubmit', method='POST')
					input(type='hidden', value='#{matchinfo._id}', name='match_id')
					li
						|	Match_Id	:	#{matchinfo._id}
					br
					li
						|	Teams	:
						br
						each team, j in matchinfo.teams
							input(type='radio', radio='radio', value='#{team[0].team_title}', name='team')
							#{team[0].team_title}= team[0].team_title
					br
					li
						|	Players	:
					select(name="player")
						each matchinfo1, i in match			
							each team1, j in matchinfo1.teams
								br
								br						
								each player, k in team1[0].players
									option(value='#{player.name}') #{player.name}
					br
					br
					input(type='submit', value='Save')