doctype html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Approve Offer
    meta(content='no-cache', http-equiv='cache-control')
    meta(content='IPL Contest, IPL, Cricket, match', name='keywords')
    meta(content='IPL Contest, IPL, Cricket, match', name='description')
    meta(name='msvalidate.01', content='to be filled in')
    meta(name='verify-v1', content='to be filled in')
    link(href='Page URL - TBD by backend', rel='canonical')
    link(href='/stylesheets/global.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/main.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js') 	
    script(type='text/javascript', src='/javascripts/home.js')
  body
    #content_container_main
       #header
        .primaryMenu1
        #logo TARGET PREMIER LEAGUE
        .text
          label Powered by
          img(src='images/cartwheel-logo.png', width='175px')
        .primaryMenu
          ul
            li
              a(href='home') Home
            li
              a(href='userpoints') Participants Statistics
            li
              a(href='matchstats') Match Statistics
          .userInfo
            if record != null
              label #{record.firstName} &nbsp;
              | |
              a.signout(href='javscript:void(0)') &nbsp;Sign Out
if status == "success"
  each matchinfo, i in match
    form(action='addUserMatchInfo', method='POST')
      input(type='hidden', value='#{matchinfo.match_id}', name='matchid')
      input(type='hidden', value='0', id='player' name='player') 
      .mainContainer
        .matchSection
          .matchHeader
            .top
              | Match 2
            .teamSelectionlabel
              label Please predict Winner
            .eventCompetitors
              .teamlogo
                h5
                input(type='radio', radio='radio', value='#{matchinfo.teams[0]._id}', name='team') 
                #{matchinfo.teams[0].team_title}= matchinfo.teams[0].team_title
                  h5 VS
                input(type='radio', radio='radio', value='#{matchinfo.teams[1]._id}', name='team') 
                #{matchinfo.teams[1].team_title}= matchinfo.teams[1].team_title
            .matchtime
              p.matchDate 2:30pm GMT (8:00pm IST), Wednesday 16th April 2014 
          .matchFooter
            .bottom
            .momlabel
              label Please select Man of the Match
            .momsection
              .playerListDropDown
                a.selection(href='javascript:void(0)')
                  label Select a player
                  span
                ul
                  each team1, j in matchinfo.teams
                        each player, k in team1.players
                           li
                             a(data-team-id='#{player.player_id}', href='javascript:void(0)') #{player.name}
          .matchFooterPredict
            .mombutton
              button#Predict-btn.Predict-btn(type='submit') Predict Winners
          .matchSectionMain
            .teamlogo1
              .tLogo100x.MI
              img(src='images/107.png')
            .teamlogo2
              .tLogo100x.KKR
              img(src='images/84.png')
   .sideSection
      .section1
        .sectionheader
          | TOP RANKERS
        .sectionbody
          ul
            li
              label.name ABCDEDE
              label.points 10
            li
              label.name ABCDEDE
              label.points 10
            li
              label.name ABCDEDE
              label.points 10
            li
              label.name ABCDEDE
              label.points 10
      .section2
        .sectionheader
          | PREVIOUS WINNERS
        .sectionbody
          ul
            li
              label.name ABCDEDE
              label.points 10
            li
              label.name ABCDEDE
              label.points 10
            li
              label.name ABCDEDE
              label.points 10
            li
              label.name ABCDEDE
              label.points 10
else
   br
   br
  .bodyText
   P #{statusmessage}
