html
  head    
  body
    table(style='width: 900px;')
      thead
        tr
          th Question
          th Players
      tbody
      each question, i in questions
        tr
          if question._id < 4
            td #{question.question}
            td
              select
                option Select a player
                each player, i in players              
                  option(value="#{player.player_id}") #{player.name} 
          else
            td #{question.question}
            td
              select
                option Select a team
                each team, i in teams              
                  option(value="#{team._id}") #{team.team_title}		  
              
